<div class="row">
    <div class="icon-bar four-up">
        <a class="item"><label>Расписание</label></a>
        <a class="item"><label>Отчет</label></a>
        <a class="item"><label>Редактирование</label></a>
        <a class="item"><label>Войти</label></a>
    </div>
</div>

<div class="hidden-for-small-up">
    <ul id="slicknav-menu">
        <li><a class="item">Расписание</a></li>
        <li><a class="item">Отчет</a></li>
        <li><a class="item">Редактирование</a></li>
        <li><a class="item">Войти</a></li>
    </ul>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/menu.js")"></script>