@{
    ViewBag.Title = "Home";
}

<div data-ng-controller="HomePageController">
    <input type="text" ng-model="models.hello" />
    <h1>{{models.hello}}</h1>
    <h2 ng-bind="models.hello"></h2>

    <ul>
        <li><a href="/#/First">First</a></li>
        <li><a href="/#/Second">Second</a></li>
        <li><a href="/#/Third">Third</a></li>
    </ul>

    <div data-ng-view></div>
</div>